<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Walker</title>
  </head>
  <body>
    <h1>Live streaming</h1>
    <div>
      <img src="{{url_for('video')}}" width="50%" />
    </div>
    <form id="homepage" method="get" action="http://{{ip}}:5000">
      <input type="submit" value="Back" />
    </form>

    <!-- heartbeat -->
    <div id="data-container"></div>
    <script>
      const eventSource = new EventSource("/updates");
      eventSource.onmessage = function (event) {
        const dataContainer = document.getElementById("data-container");
        dataContainer.innerHTML = `Heartbeat: ${event.data}`;
      };
      eventSource.onerror = function (event) {
        console.error("EventSource failed:", event);
        eventSource.close();
      };
    </script>
  </body>
</html>
